@model PhotoMap.ViewModels.UserViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>

@Html.ActionLink("Details", "Details")

@using (Html.BeginForm())
{
    //@Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Getting Instagram media was unsuccessful. Please correct any errors and try again.");
    <div class="editor-label">
        @Html.LabelFor(model => model.UserName):
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.UserName)
    </div>
    if (Request.QueryString["code"] == null)
    {
        <div>
            <input type="submit" value="Login" />
        </div>
    }
    else
    {
        <div>
            <input type="submit" value="Get images" />
        </div>
    }
}

